html {
    font-family: Arial, Helvetica;
    padding: 1em;
    background-color: rgba(255,255,255);
}

div {
    padding: 2em;
}

nav.main {
    font-family: Arial, Helvetica;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    width: 100%;
    background-color: rgba(64,64,127);
}

nav.main>a:link, nav.main>a:visited, nav.main>a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.05em;
    overflow: hidden;
    text-align: center;
    margin: auto;
    padding: 0.2em;
    color: rgb(255,255,255);
}

nav.main>a:hover, nav.main>a:focus {
    color: rgb(255,64,0);
    font-weight: bold;
}
