html {
    font-family: Arial, Helvetica;
    padding: 10px;
    background-color: rgba(255,255,255);
}

div {
    padding: 20px;
}

nav.main {
    font-family: BTTF, Arial, Helvetica;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    width: 100%;
    background-color: rgba(64,64,127);
}

nav.main>a:link, nav.main>a:visited, nav.main>a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 4px;
    overflow: hidden;
    line-height: 1.5;
    vertical-align: middle;
    height: 30px;
    margin: auto;
    padding: 4px;
    color: rgb(255,255,255);
}

nav.main>a:hover, nav.main>a:focus {
    color: rgb(255,64,0);
    font-weight: bold;
}
